aioftp==0.27.2
aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
astropy==7.2.0
astropy-iers-data==0.2026.5.25.1.14.13
asttokens==3.0.1
attrs==26.1.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.5.20
charset-normalizer==3.4.7
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.21
decorator==5.3.1
drms==0.9.0
executing==2.2.1
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.4.0
h5netcdf==1.8.1
hermpy==0.2.6
idna==3.17
ipykernel==7.2.0
ipython==9.14.1
ipython_pygments_lexers==1.1.1
isodate==0.7.2
jedi==0.20.0
jupyter_client==8.9.0
jupyter_core==5.9.1
kiwisolver==1.5.0
lxml==6.1.1
matplotlib==3.10.9
matplotlib-inline==0.2.2
mpl_animators==1.2.4
multidict==6.7.1
nest-asyncio==1.6.0
numpy==2.4.6
packaging==26.2
pandas==3.0.3
parfive==2.3.1
parso==0.8.7
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.10.0
prompt_toolkit==3.0.52
propcache==0.5.2
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyerfa==2.0.1.5
Pygments==2.20.0
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.19
PyQt5_sip==12.18.0
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.34.2
requests-file==3.0.1
requests-toolbelt==1.0.0
scipy==1.17.1
six==1.17.0
soupsieve==2.8.4
spiceypy==8.1.0
stack-data==0.6.3
sunpy==7.1.2
tornado==6.5.7
tqdm==4.67.3
traitlets==5.15.1
typing_extensions==4.15.0
urllib3==2.7.0
wcwidth==0.8.1
xarray==2026.4.0
yarl==1.24.2
zeep==4.3.2
